@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:bold');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.main-header {
  background-color: steelblue;
  padding: 1em;
}

.webpage-name {
  text-align: center;
  margin: 0;
  font-size: 5em;
  font-weight: bold;
  font-family: 'Dancing Script', serif;
  color: white;
}

.new-post {
  max-width: 800px;
  margin: 30px auto;
  border: 2px solid steelblue;
  padding: 1.5em;
  border-radius: 1em;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .5em;
  cursor: pointer;
  outline: none;
  color: white;
}

.post-btn {
  margin: .5em 15% 1em 75%;
  min-width: 8em;
  border: none;
  border-radius: 2em;
  font-size: 1.25em;
}

.post-btn:hover {
  filter: brightness(90%);
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control textarea {
  width:100%;
  resize: vertical;
  min-height: 50px;
  height: 100px;
  padding: 7px 7px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.add-form {
  margin-bottom: 40px;
}

.drag-drop{
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.btn-block {
  min-width: 10em;
  text-align: center;
  vertical-align: auto;
  color: white;
  padding: 1em;
  background-color: steelblue;
  font-size: 1.25em;
  border: none;
  border-radius: 2em;
}

.btn-block:hover {
  filter: brightness(90%);
}

.submit-btn-wrapper {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid steelblue;
  padding: 30px;
  border-radius: 1em;
}

.posts {
  margin: 0px;
  padding: 10px 20px;
  width: 100%;
  border: 2px solid steelblue;
  border-radius: 1em;
}

.posts h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-image {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right:auto;
  padding: 10px;
}

.posts-gap {
  padding: 10px 0px;
}

.comments-container {
  margin: 1em;
  padding: 1em;
  border: 2px solid steelblue;
  border-radius: 1em;
}

.comments-header h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-block {
  border-top: 1px solid steelblue;
  padding: .5em 0;
  margin-top: .5em;
}

.clickable-icons {
  padding: .5em;
  vertical-align: auto;
  border-radius: 10%;
}

.clickable-icons:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

footer {
  margin-top: 30px;
  text-align: center;
}